/* Header */
body{
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    background-position: center;
}


.div{
    display:flex;
    justify-content: center;
    }

/* Main */

h1{
    text-align: center;
    color:#005677;
    background-color: #C4C4C4;
    font-style: italic;
    line-height: 40px;
    opacity: 0.5;
}

.blanco{
    margin-bottom: 90px;
}

h3{
    color:#005677;
    background-color: #C4C4C4;
    line-height: 40px;
    opacity: 0.5;
}

.dp{
    font-weight: bold;
}
/* Footer */
footer{
    line-height: 35px;
    background-color:#160077 ;
}
.centrate{
    display: flex;
    justify-content: center ;
    margin-top: auto;
    margin-bottom: auto;
}

.acerca{
    font-size: 28px;
}
