/* Clases generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 2px;
    font-family: 'Roboto', sans-serif
}
/* Header */
div {
    color:gold;
}
/* Main content */
body {
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
    background-position: center;
}
h1 {
    background-color: rgba(2, 2, 2, 0.8);
    color:gold;
    text-align: center;
}
h2 {
    background-color: rgba(2, 2, 2, 0.8);
    color:gold;
    text-align: center;
}
ul {
    color:rgb(255, 255, 255);
}

/* Footer */
.blanco{
    margin-bottom: 670px;
}

a:hover {
    color: rgb(113, 0, 136);
}

a:visited{
    color: rgb(255, 238, 0);
}

header h2 h1{
    position: sticky;
    top: 0px;
    z-index: 10;
}

.trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
}
